.card {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  gap: 16px;
  margin: 20px;
}

.fruit-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
}

.fruit-card img {
  width: 180px;
  height: 150px;
  margin-bottom: 10px;
}
