body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f6f6f6;
}

.main {
  display: flex;
  gap: 20px;
}

.section {
  background-color: white;
  padding: 15px;
  flex: 1;
}

.section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  width: calc(50% - 5px);
  background-color: #fff;
  text-align: center;
  background-color: rgb(246, 235, 222);
}

.item img {
  max-width: 100%;
  border-radius: 4px;
  padding-top: 15px;
}

.item p {
  font-size: 14px;
  margin-top: 5px;
}
