<p>ng-style-ex4 works!</p>

<div [ngStyle] = "{'color': color1, 'font-size': fontSize1, 'background-color': bgColor}">
<!-- <div [ngStyle] = "{'color': flag1 ? 'pink' : 'red', 'font-size': flag1 ? '10px' : '25px', 'background-color': flag1 ? 'orange' : 'black'}"> -->
    <h1>Some Heading</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam iusto, nisi a quaerat quis deserunt modi. Ipsa veritatis sed illum.</p>

    <h2>Heading 2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias a magni recusandae impedit, vitae ad voluptate deserunt, itaque sed iste quas enim distinctio corrupti reprehenderit!</p>
</div>