.container {
  border: 1px solid #000;
  height: 500px;
  width: auto;
  margin: 20px;
}

.first {
  background-color: aquamarine;
  height: 120px;
  width: 120px;
  margin-left: 100px;
  margin-top: 100px;
}
.second {
  background-color: rgb(127, 255, 178);
  height: 120px;
  width: 120px;
  margin-left: 100px;
  margin-top: 100px;
}
