<form>
  <div>
    <label for="name">Name:</label>
    <input id="name" name="productName" [(ngModel)]="product.name" type="text" />
  </div>
  <div>
    <label for="category">Category:</label>
    <input
      id="category"
      name="productcategory"
      [(ngModel)]="product.category"
      type="category"
    />
  </div>
  <div>
    <label for="price">Price:</label>
    <input
      id="price"
      name="productprice"
      [(ngModel)]="product.price"
      type="price"
    />
  </div>
  <div>
    <label for="qty">Quantity:</label>
    <input
      id="qty"
      name="productqty"
      [(ngModel)]="product.quantity"
      type="qty"
    />
  </div>

  <button (click)="save()">Save</button>
</form>
