<p>ng-class-ex2 works!</p>

<!-- <div [ngClass]="'app'">
<div [ngClass]="['app','app1']"> -->
<!-- <div [ngClass]="{'app':flag1,'app1':flag2}"> -->
<div [ngClass]="getNgClass()">
    <h2>Angular Demo</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia nisi aliquid saepe eum, illo debitis?</p>

    <h3>About</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto quidem qui officiis amet fugiat numquam ad saepe, id itaque minima illo recusandae doloremque totam maiores.</p>
</div>