<div class="admin-header">
  <h2>Admin - Manage Products</h2>
  <a href="#" class="logout-btn" (click)="logout(); $event.preventDefault()">
    🚪 Logout
  </a>
</div>
<button (click)="goToAdd()">+ Add Product</button>

<table border="1" width="100%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>Price</th>
    <th>Available</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let product of products">
    <td>{{ product.prodName }}</td>
    <td>{{ product.prodDesc }}</td>
    <td>{{ product.prodCat }}</td>
    <td>{{ product.price | currency : "INR" }}</td>
    <td>{{ product.availableQty }}</td>
    <td>
      <button (click)="goToEdit(product.id)">Edit</button>
      <button (click)="deleteProduct(product.id)">Delete</button>
    </td>
  </tr>
</table>
