<div class="product-list">
 
  <button (click)="addProduct()" >Add  Product </button>
@for (product of products; track $index) {
      <div class="product-info">
      <h3 class="product-id">Id - {{ product.id }}</h3>
      <h3 class="product-name">Product Name - {{ product.name }}</h3>
      <h3 class="product-category">Category - {{ product.category }}</h3>
      <p class="product-price">Price - {{ product.price }}</p>
      <p class="product-price">Quantity - {{ product.quantity }}</p>
      <a [routerLink]="['/productedit/',product.id]">Edit</a>
      <a [routerLink]="['/productdelete/',product.id]">Delete</a>
    </div>
  }
</div>